pkg/
*-handin.tar.gz
.idea/.gitignore
.idea/6.5840-golabs-2025.iml
.idea/active-tab-highlighter.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
